
*.lab
*.wav
build/pyminilab/warn-pyminilab.txt
build/pyminilab/xref-pyminilab.html
*.toc
*.pyc
*.zip
build/.DS_Store
.DS_Store
.DS_Store
*.pkg
*.pyz
.DS_Store
dist/pyminilab
*.spec
dist/pyminilabV2
build/pyminilabV2/warn-pyminilabV2.txt
build/pyminilabV2/xref-pyminilabV2.html
