altgraph==0.17.3
certifi==2023.7.22
charset-normalizer==3.2.0
Deprecated==1.2.14
idna==3.4
jaconv==0.3.4
macholib==1.16.2
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.7
pykakasi==2.2.1
pypinyin==0.49.0
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
requests==2.31.0
romkan==0.2.1
urllib3==2.0.4
wrapt==1.15.0
